<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alcodes.alcodessmmediafilepicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".activities.AsmMfpDocumentFilePickerActivity"></activity>
        <activity android:name=".activities.AsmMfpCustomFilePicker" />
        <activity android:name=".activities.AsmMfpGithubSampleFilePickerActivity" />
        <activity android:name=".activities.AsmMfpMainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.alcodes.alcodesgalleryviewerdemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>